/* @import url('https_link_404'); */
@import "tailwindcss";
/* Add this import at the top */


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: You can force the prose class to use it and add spacing */
@layer base {
  .prose-lg {
    line-height: 1.8; /* Increases line spacing */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
